.student {
	float: left;
	width: 40%;
	padding: 20px;
	background-color: #b7aeae;
	font-size: 20px;
	height: 90px;
}

.details {
	float: right;
	width: 40%;
	padding: 20px;
	background-color: #b4b5c4;
	font-size: 20px;
	height: 90px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

table, th, td {
  border: 1px solid black;
}

table {
	width: 100%;
}
th {
	background-color: #ccc;
}